<header>
    <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
    </div>
    <div class="top-bar" id="main-menu">
    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
    <li><a href="{{ site.url }}">Home</a>
    </li>
    <li><a href="../blog{{ site.blog }}">Blog</a>
    </li>
    <li><a href="../../research{{ site.research }}">Research</a>
    </li>
    <li><a href="../../officers{{ site.officers }}">Officers</a>
    </li>
    </ul>
    </div>
</header>