<header>
    <!-- <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
    </div> -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <div class="leftbox">
            <a href="http://www.bruinsportsanalytics.com" class="left navlink">
              <img id="logo" src="../../assets/logo1.png" /> 
              <span id="homemenuitem">
              Bruin Sports Analytics
            </span>
            </a>
          </div>
            <ul id="days" class="right hide-on-med-and-down">
              <li id="Blog"><a class="navlink" href="../../blog{{ site.blog }}">Blog</a></li>
              <li id="Research"><a class="navlink" href="../../research{{ site.research }}">Research</a></li>
              <li id="Officers"><a class="navlink" href="../../officers{{ site.officers }}">Officers</a></li>
            </ul>

            <ul class="side-nav" id="mobile-demo">
              <li id="Blog"><a class="navlink" href="../blog{{ site.blog }}">Blog</a></li>
              <li id="Research"><a class="navlink" href="../../research{{ site.research }}">Research</a></li>
              <li id="Officers"><a class="navlink" href="../../officers{{ site.officers }}">Officers</a></li>
            </ul>
          </div>
        </nav>
      </div>


    <!-- <div class="top-bar" id="main-menu">
    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
    <li><a href="{{ site.url }}">Home</a>
    </li>
    <li><a href="../blog{{ site.blog }}">Blog</a>
    </li>
    <li><a href="../../research{{ site.research }}">Research</a>
    </li>
    <li><a href="../../officers{{ site.officers }}">Officers</a>
    </li>
    </ul>
    </div> -->
</header>

<script>
  $(document).ready(function(){
  // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
  $('.modal').modal();
  $(".button-collapse").sideNav();
});
        
</script>