---
layout: default
---

<head>
  <!-- title and meta -->
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0" name="viewport">
  <meta content="description" name="In this tutorial, we take a look at a beautiful parallax scrolling effect in the simplest of ways, with stationary backgrounds and scrolling content.">
  <link rel="stylesheet" href="/css/blog.css">    

</head>

<body>
<div class="wrapper">
  <main>
    <div id="bloghome">
      <section class="module content">
          <div id="posts">
            {% for post in paginator.posts %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <h6><em>{% assign authorCount = post.authors | size %}
                  {% if authorCount == 0 %}
                    No author
                  {% else %}
                    {% for author in post.authors %}
                      {% assign person = site.data.authors[author] %}
                      {% if forloop.first %}
                       By: <a href="{{person.web}}">{{ person.name }}</a>
                      {% elsif forloop.last %}
                      and <a href="{{person.web}}">{{ person.name }}</a>
                      {% else %}
                    , <a href="{{person.web}}">{{ person.name }}</a>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                | {{ post.date | date_to_string }}</em></h6>




            {{ post.excerpt }}
            {% endfor %}
            
            
          <center>
          <div class="pagination">
            {% if paginator.previous_page %}
              <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
            {% endif %}
        
            <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        
            {% if paginator.next_page %}
              <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
            {% endif %}
          </div>
        </center>
        </ul>
          </div>
      </section>
    </div>
  </main>

</div>
</body>
