---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>
    <!-- <link rel="stylesheet" href="/css/base.css" type="text/css">     -->
    <link rel="stylesheet" href="/css/materialize.min.css">    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab"> 
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">    
    <link rel="stylesheet" href="/css/style.css" type="text/css"> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="../assets/bsa_logo_short_1819.png">


  </head>
  {% include header.html %}
  <body>
    <div id="body">

      {{ content }}

      <hr>
      <!---
      <center>
      <div class="newsletter-container">
            <form action="https://getsimpleform.com/messages?form_api_token=cdd07db5b90f967b9271a5c7ef3fd573" method="post">
              <ul>
                <input type="email" placeholder="Email:" id="email" style="font-family: Roboto Slab, serif;"/>
                <input type="submit" value="Subscribe" id="submit" style="font-family: Roboto Slab, serif;" />
              </ul>
            </form>
          </div>
        </center>
      -->
      {% include subscription-form.html %}
      <center>
      © {{ site.time | date: '%Y' }} {{ site.author }}.
      <a href="https://twitter.com/{{ site.twitter }}">Follow us on Twitter!</a></center>

      <!-- add icons here -->
    </div>
  </body>
</html>