---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>
    <!-- <link rel="stylesheet" href="/css/base.css" type="text/css">     -->
    <link rel="stylesheet" href="/css/materialize.min.css">    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto+Slab"> 
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">    
    <link rel="stylesheet" href="/css/style.css" type="text/css"> 

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>
  {% include header.html %}
  <body>
    <div id="body">

      {{ content }}

      <hr>
      <center>
      © {{ site.time | date: '%Y' }} {{ site.author }}.
      <a href="https://twitter.com/{{ site.twitter }}">Follow us on TwitterI</a></center>

      <!-- add icons here -->
    </div>
  </body>
</html>